/* Basic Reset */
body, html, main {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
}

/* Full body styling */
body {
    background-color: #252525;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Main container styling */
main {
    width: 61.8vw;  
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.618rem 0; 
}

/* Paragraph styling */
p {
    font-size: 18px; 
    line-height: 29px; 
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ccc; 
    text-align: justify; 
    padding: 0 1.618rem; 
}

/* Header with logo */
header {
    margin-bottom: 1.618rem; 
}
header h1, header img {
    margin: 0 auto; 
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap; 
}

header img {
    width: 16.18%;  
    height: auto;
}

/* Code container styling */
.code-container {
    background: #1a1a1a;
    color: #f0f0f0;
    padding: 1.618rem;
    margin-top: 1.618rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.copybutton {
    background-color: #ffda00;
    color: #252525;
    border: none;
    padding: 0.809rem 1.618rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: auto; 
}
.copybutton:hover {
    background-color: #ffd700;
}

/* Code block styling */
pre, code {
    text-align: left;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh / 1.618); 
    margin: 0;
}

/* Ordered List (ol) and List Item (li) Styling */
ol {
    counter-reset: item; 
    padding-left: 0; 
    margin: 1.618rem 0; 
}

li {
    counter-increment: item; 
    font-size: 18px; 
    line-height: 1.618em; 
    margin-bottom: 0.809rem; 
    position: relative; 
    padding-left: 2.618rem; 
    text-align: left; 
    list-style-type: none; 
}

li::before {
    content: counter(item) "."; 
    position: absolute;
    left: 0; 
    color: #ffda00; 
    font-weight: bold; 
}

/* Responsive adjustments for better mobile display */
@media (max-width: 600px) {
    main {
        width: 95vw; 
    }
    header img {
        width: 50%; 
    }
    li {
        padding-left: 2rem; 
    }
}

/* Downloads navigation styling */
nav.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1.618rem;
}

nav.links a {
    color: #ffda00;
    text-decoration: none;
    padding: 0.809rem 1.618rem;
    background-color: rgba(255, 218, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav.links a:hover {
    background-color: rgba(255, 218, 0, 0.3);
}

/* Footer styling */
footer {
    margin-top: 1.618rem; 
    font-size: 0.9rem;
    padding: 1.618rem 0;
}

